//@theme "/home/zistro/.local/share/rofi/themes/config.rasi"
//@theme "/home/zistro/.local/share/rofi/themes/catppuccin-mocha.rasi"
//@theme "/home/zistro/.local/share/rofi/themes/theme.rasi"
//@theme "/home/zistro/.local/share/rofi/themes/ntheme.rasi"
@theme "/home/zistro/.local/share/rofi/themes/config.rasi"
